.w3-black, .flex-item{
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.rectangle {
    border: solid 1px black;
}